<h1>@ViewBag.Title</h1>

<h2>Index</h2>

<div class="bluhbluhbluh">
    <p>A1</p>
    <p>A2</p>
    <p>B1</p>
    <p>B2</p>
</div>

<style type="text/css">
    .bluhbluhbluh{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr
    }
</style>