@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GO Initiative Tracker";
}

@model EncounterViewModel
@using TeamAlpha.GoldenOracle.Models.ViewModels

<div id="encounter-block">
    <div>
        <h3>Encounter:</h3>
    </div>

    <div id="encounter-list">
        @if (Model != null && Model.EncounterCreatures != null)
        {
            foreach (var creature in Model.EncounterCreatures)
            {
                if (creature.isMonster == true)
                {
                    @Html.ActionLink($"{creature.Initiative} - {@creature.Name}", "MonstersDetail", "Encounter", new { id = creature.ID, value = creature.isMonster }, new { @class = "btn" })
                }
                else
                {
                    @Html.ActionLink($"{creature.Initiative} - {@creature.Name}", "MonstersDetail", "Encounter", new { id = creature.ID, value = creature.isMonster }, new { @class = "btn" })
                }
            }
        }
    </div>

    <div id="encounter-btns-div">
        @Html.ActionLink("Add Creature", "Index", "Add", null, new { @class = "encounter-btn" })
        @Html.ActionLink("Next Turn", "NextTurn", "Encounter", null, new { @class = "encounter-btn" })
    </div>
</div>