<!DOCTYPE html>
@model Queue<EncounterCreature>
@using TeamAlpha.GoldenOracle.Models

@{
    ViewBag.Title = "GO Initiative Tracker";
}
<body>
    @*@(Html.Kendo().ComboBox()
                  .Name("fabric")
                  .Filter("contains")
                  .Placeholder("Select fabric...")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .BindTo(new List<SelectListItem>() {
          new SelectListItem() {
            Text = "Cotton", Value = "1"
          },
          new SelectListItem() {
            Text = "Polyester", Value = "2"
          },
          new SelectListItem() {
            Text = "Cotton/Polyester", Value = "3"
          },
          new SelectListItem() {
            Text = "Rib Knit", Value = "4"
          }
                  })
                  .SelectedIndex(3)
                  .Suggest(true)
                  .HtmlAttributes(new { style = "width:100%;" })

    )*@

    @foreach (var creature in Model)
    {
        <a href="~/Views/Monsters/Details.cshtml">@creature.Initiative - @creature.Name</a>
    }

    <div>
        @Html.ActionLink("Next Turn", "NextTurn", "Home", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Add Creature", "Index", "Add", null, new { @class = "btn btn-default" })
    </div>

</body>