<!DOCTYPE html>
@model Queue<EncounterCreature>
@using _5e_DM_ToolKit_v1.Models

@{
    ViewBag.Title = "Home Page";
}

@foreach (var creature in Model)
{
    <li>@creature.Initiative - @creature.Name</li>
}