<!DOCTYPE html>
@model Queue<EncounterCreature>
@using _5e_DM_ToolKit_v1.Models

@{
    ViewBag.Title = "Home Page";
}

<h1>5e Initiative Tracker</h1>

@foreach (var creature in Model)
{
    <li>@creature.Initiative - @creature.Name</li>
}

    <div>
        @*@Html.ActionLink("Next Turn", "NextTurn", "Home", null, new { @class = "btn btn-default" })*@
        @Html.ActionLink("Add Creature", "Index", "Add", null, new { @class = "btn btn-default" })
    </div>

