<!DOCTYPE html>
@model string

@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>Value: @Model</p>
</div>

<style type="text/css">
    div{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
</style>