@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

    <body>
        <div id="home-div-block">
            <div>
                <h1>Welcome to the Golden Oracle DM Toolkit!</h1>
            </div>
            <div id="home-button-block">
                @Html.ActionLink("Encounter", "Index", "Encounter", null, new { @class = "encounter-btn" })
                @Html.ActionLink("Create Character", "Index", "Character", null, new { @class = "encounter-btn" })
                @Html.ActionLink("Monsters", "Index", "Monsters", null, new { @class = "encounter-btn" })
                @Html.ActionLink("Characters", "List", "Character", null, new { @class = "encounter-btn" })
            </div>
        </div>
    </body>

    <script language="javascript">
            //$(document).ready(function () {
            //    $("#")
            //})
    </script>